# Created by https://www.toptal.com/developers/gitignore/api/assembler,d,perl,crystal,elixir,awk,wren,ocaml,nim,zig,elisp,erlang
# Edit at https://www.toptal.com/developers/gitignore?templates=assembler,d,perl,crystal,elixir,awk,wren,ocaml,nim,zig,elisp,erlang

### Assembler ###
*.exe
*.o
*.obj
*.bc

#!! ERROR: awk is undefined. Use list command to see defined gitignore types !!#

### Crystal ###
/docs/
/lib/
/bin/
/.shards/
*.dwarf

# Libraries don't need dependency lock
# Dependencies will be locked in application that uses them
#/shard.lock

### D ###
# Compiled Object files

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables

# DUB
.dub
docs.json
__dummy.html
docs/

# Code coverage
*.lst

### D Patch ###
# Test Executables
*-test-*

# Comment to allow dub lock file to be version controlled as well
dub.selections.json

### Elisp ###
# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

### Elixir ###
/_build
/cover
/deps
/doc
/.fetch
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
.elixir_ls/

### Elixir Patch ###

### Erlang ###
.eunit
*.plt
.concrete/DEV_MODE

# rebar 2.x
.rebar
rel/example_project
ebin/*.beam
deps

# rebar 3
.rebar3
_build/
_checkouts/

### Erlang Patch ###
rebar3.crashdump

### Nim ###
nimcache/
nimblecache/
htmldocs/

### OCaml ###
*.annot
*.cmo
*.cma
*.cmi
*.cmx
*.cmxs
*.cmxa

# ocamlbuild working directory

# ocamlbuild targets
*.byte
*.native

# oasis generated files
setup.data
setup.log

# Merlin configuring file for Vim and Emacs
.merlin

# Dune generated files
*.install

# Local OPAM switch
_opam/

### Perl ###
!Build/
.last_cover_stats
/META.yml
/META.json
/MYMETA.*
*.pm.tdy
*.bs

# Devel::Cover
cover_db/

# Devel::NYTProf
nytprof.out

# Dist::Zilla
/.build/

# Module::Build
Build
Build.bat

# Module::Install
inc/

# ExtUtils::MakeMaker
/blib/
/_eumm/
/*.gz
/Makefile
/Makefile.old
/MANIFEST.bak
/pm_to_blib
/*.zip

#!! ERROR: wren is undefined. Use list command to see defined gitignore types !!#

### zig ###
# Zig programming language

zig-cache/
zig-out/
build/
build-*/
docgen_tmp/

# End of https://www.toptal.com/developers/gitignore/api/assembler,d,perl,crystal,elixir,awk,wren,ocaml,nim,zig,elisp,erlang
