.dub
docs.json
__dummy.html
docs/
/package_use_example
package_use_example.so
package_use_example.dylib
package_use_example.dll
package_use_example.a
package_use_example.lib
package_use_example-test-*
*.exe
*.pdb
*.o
*.obj
*.lst
